{{- $name := promptStringOnce . "name" "Your Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

# chezmoi init 時に入力した値を .gitconfig テンプレートで参照する
[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}

# chezmoi edit で Cursor を使う
[edit]
    command = "cursor"
    args = ["--wait"]
